# Learn About Indexing?
## What is indexing

In [1]:
# Let's make a string
a = 'Dahi Bhallay'
a

'Dahi Bhallay'

In [2]:
a[0] # it will give us the first digit/alphabet of string

'D'

In [3]:
a[2]

'h'

In [4]:
# check length of a string

len(a)

12

In [5]:
a[11] # since length is 12, this will give us last element of the string

'y'

In [6]:
a[0:5]

'Dahi '

In [7]:
a[0:6] #exclusive element is the last index element, in this case '6'

'Dahi B'

In [8]:
a[-1] # this will also give us last element, as we start the index count from last element

'y'

In [9]:
a[-5:-1] # in this code, the last term is not included in the index count, that's why 'y' is not printed

'alla'

In [10]:
a[-5:12] # to include last element, we need to write it like this

'allay'

## Strings Methods

In [11]:
food = "biryani, pulao"
food

'biryani, pulao'

In [12]:
food.capitalize() # this capitalized the first alphabet of the string

'Biryani, pulao'

In [13]:
food.upper() # this turns all the string elements to uppercase letters

'BIRYANI, PULAO'

In [14]:
food.lower() # this turns all the string elements to lowercase letters

'biryani, pulao'

In [15]:
food.count("a") # this tells us how many times "a" has appeared in the 'food' string

2

In [16]:
food.count('A') # this shows that this function is case sensitive.

0

## Finding an index number in the string

In [17]:
name = "Haider Ali"
name

'Haider Ali'

In [18]:
name.find("a") # this tells us the index of the "a" at the first encounter.

1

In [19]:
name.find("A") # This is also case sensitive

7

In [20]:
name.find("i")

2

In [21]:
name.find("b") # there is no alphabet 'b' in the string

-1

## Split a string

In [22]:
food = "I love biryani, samosa, pakora and fruit chaat"
food

'I love biryani, samosa, pakora and fruit chaat'

In [23]:
food.split("s") # this splits the string whenever letter 's' comes up in the string

['I love biryani, ', 'amo', 'a, pakora and fruit chaat']

In [24]:
food.split(",") # this splits the string whenever a ',' comma comes up

['I love biryani', ' samosa', ' pakora and fruit chaat']

## Basic Data Structures in Python

1- Tuple <br>
2- List <br>
3- Dictionaries <br>
4- Set <br>

## Tuple
- ordered collection of elements
- enclosed in parantheses "()"
- different kinds of elements can be stored
- once elements are stored, you cannot change them. (Unmutatable)

In [25]:
tup1 = (1, "python", True, 2.5)
tup1

(1, 'python', True, 2.5)

In [26]:
# check type , it will give us tuple variable
type(tup1)

tuple

### -indexing in tuple

In [27]:
tup1[0]

1

In [28]:
tup1[1]

'python'

In [29]:
tup1.count(2.5) # tells us the number of times '2.5' is present in tuple variable

1

In [30]:
tup1[0:3]

(1, 'python', True)

In [31]:
len(tup1)

4

In [32]:
tup2 = (2, False, "Haider", 3.5)
tup2

(2, False, 'Haider', 3.5)

In [33]:
tup1+tup2 # this will concatenate the two tuple variables

(1, 'python', True, 2.5, 2, False, 'Haider', 3.5)

In [34]:
tup1*2 # this will repeat the tup1 variable twice.

(1, 'python', True, 2.5, 1, 'python', True, 2.5)

In [35]:
tup1*2 + tup2*3 # this will repeat tup1 2 times and tup2 3 times and then concatenate them as well

(1,
 'python',
 True,
 2.5,
 1,
 'python',
 True,
 2.5,
 2,
 False,
 'Haider',
 3.5,
 2,
 False,
 'Haider',
 3.5,
 2,
 False,
 'Haider',
 3.5)

In [36]:
tup3 = (20,30,45,60,80,100)
tup3

(20, 30, 45, 60, 80, 100)

In [37]:
# concatenation
tup1+tup3

(1, 'python', True, 2.5, 20, 30, 45, 60, 80, 100)

In [38]:
#repitition not multiplication
tup3*2

(20, 30, 45, 60, 80, 100, 20, 30, 45, 60, 80, 100)

In [39]:
#minimum
min(tup3)

20

In [40]:
#maximum
max(tup3)

100

---

## List
- Ordered collection of elements
- enclosed with square brackets [     ]
- mutable, elements can be changed after storing

In [41]:
list1 = [1, "python", True, 2.5]
list1

[1, 'python', True, 2.5]

In [42]:
len(list1)

4

In [43]:
list1*2

[1, 'python', True, 2.5, 1, 'python', True, 2.5]

In [44]:
list1[0]

1

In [45]:
list1[0:4]

[1, 'python', True, 2.5]

In [46]:
list2= [2, "Haider", "Ali", True, 56.3]
list2

[2, 'Haider', 'Ali', True, 56.3]

In [47]:
list1+list2

[1, 'python', True, 2.5, 2, 'Haider', 'Ali', True, 56.3]

In [48]:
list1= [675,240,355]
list1

[675, 240, 355]

In [49]:
list1.sort() # this function sorts out the lists in ascending order. this will work only for integer or float
list1

[240, 355, 675]

In [50]:
list1 = ['H', 'a','i']
list1.sort() # this function sorts out the lists in ascending order. 
            #this can work for strings as well. first it will write capital letters then small letters in alphabetical order
list1

['H', 'a', 'i']

In [51]:
list1 = ['Hi', 'apple','ink','Dog']
list1.sort() # this function sorts out the lists in ascending order. 
            #this can work for strings as well. first it will write capital letters then small letters in alphabetical order
list1

['Dog', 'Hi', 'apple', 'ink']

In [52]:
list1.clear() # it clears all the entries of the list
list1

[]

In [53]:
list1 = ['Hi', 'apple','ink','Dog']
copied_list = list1.copy()
copied_list[0]

'Hi'

In [54]:
#copied_list.append("Imran Khan") # this will keep on adding the new element as many times you run the code

print('copied list:', copied_list)
print('original list:', list1)

copied list: ['Hi', 'apple', 'ink', 'Dog']
original list: ['Hi', 'apple', 'ink', 'Dog']

In [55]:
list1.insert(2, "Cat") #insert function of the list will insert the element at the desired index in the list.
                        # in this case, this line will insert "cat" at index 2 in list1
list1

['Hi', 'apple', 'Cat', 'ink', 'Dog']

In [56]:
list2= ["jan", "Feb", "March"]  #defining a second list
list2

['jan', 'Feb', 'March']

In [57]:
list1.extend(list2) # this function will extend list1 with list2.
list1

['Hi', 'apple', 'Cat', 'ink', 'Dog', 'jan', 'Feb', 'March']

In [58]:
list1.index("Cat") # this will tell us the index of "Cat" in the list1

2

In [59]:
list1.insert(0, 20)

In [60]:
list1

[20, 'Hi', 'apple', 'Cat', 'ink', 'Dog', 'jan', 'Feb', 'March']

In [61]:
list1.pop(5) # this will pop out (remove from the list and return it) the element at the given index position, here at 5th index

'Dog'

In [62]:
list1 # so here after popping out the 5th index i.e. "jan", the updated list1 doesn't contain "jan."

[20, 'Hi', 'apple', 'Cat', 'ink', 'jan', 'Feb', 'March']

In [63]:
list1.remove("ink") # this function removes the given element ('ink') from the list1
list1

[20, 'Hi', 'apple', 'Cat', 'jan', 'Feb', 'March']

In [64]:
list1.reverse() # this reverses the order of the list1

In [65]:
list1 # here order is reversed

['March', 'Feb', 'jan', 'Cat', 'apple', 'Hi', 20]

In [66]:
list1[:] # it gives us the elements of the list

['March', 'Feb', 'jan', 'Cat', 'apple', 'Hi', 20]

## Dictionaries
- an unordered collection of elements
- mutable elements/ possible to change the elements
- use curly brackets { }
- key and value

In [126]:
food1={"samosa" : 25, "Pakora": 10}
food1

{'samosa': 25, 'Pakora': 10}

In [68]:
type(food1)

dict

In [69]:
food1.keys() # this will give us the keys

dict_keys(['samosa', 'Pakora'])

In [70]:
food1.values() # this will give us the values

dict_values([25, 10])

In [127]:
# Addition of an element in the dictionary

food1.update({"Dahi Bhallay": 50})  # the method to add an element to the dictionary along with key and value
food1

{'samosa': 25, 'Pakora': 10, 'Dahi Bhallay': 50}

In [128]:
# Another method to add an element in the dictionary
food1["tikki"] = 10
food1

{'samosa': 25, 'Pakora': 10, 'Dahi Bhallay': 50, 'tikki': 10}

In [129]:
# now if we want to update the values of pakora from 10 to 20 then ??

food1["Pakora"] = 50 # this will update the value of Pakora
food1

{'samosa': 25, 'Pakora': 50, 'Dahi Bhallay': 50, 'tikki': 10}

In [74]:
len(food1) # this gives us the length of dictionary

4

In [75]:
food1[0] # this gives us an error as dictionary is an unordered collection of elements

KeyError: 0

In [76]:
food2 = {"chocolate": 400, "Lays": 100, "dates": 60}
food2

{'chocolate': 400, 'Lays': 100, 'dates': 60}

In [118]:
# for concatenation
food1+food2  # this line will give error

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [130]:
food1.update(food2) # right method for concatenation for dictionaries
food1

{'samosa': 25,
 'Pakora': 50,
 'Dahi Bhallay': 50,
 'tikki': 10,
 'chocolate': 400,
 'Lays': 100,
 'dates': 60}

In [112]:
cloth1= {'lawn', 'cotton', 'Khaddar'} # create a sequence
dict.fromkeys(cloth1) # this dictionary takes keys from the cloth1 sequence

{'lawn': None, 'Khaddar': None, 'cotton': None}

In [113]:
value = [1000, 2000]
cloth1 = dict.fromkeys(cloth1, value) # now it will assign value to each key of the dictionary by getting it from list(value)
print("Clothes are of  the following price", cloth1)

value.append(4000) # here we append one more element in the value list
print("Clothes are of  the following price", cloth1) # this dictionary will modify accordingly

Clothes are of  the following price {'lawn': [1000, 2000], 'Khaddar': [1000, 2000], 'cotton': [1000, 2000]}
Clothes are of  the following price {'lawn': [1000, 2000, 4000], 'Khaddar': [1000, 2000, 4000], 'cotton': [1000, 2000, 4000]}

In [133]:
food1.get("dates") # this returns the value of the key "dates"

60

In [131]:
food1.items() # prints all the elements in tuple pairs

dict_items([('samosa', 25), ('Pakora', 50), ('Dahi Bhallay', 50), ('tikki', 10), ('chocolate', 400), ('Lays', 100), ('dates', 60)])

In [132]:
food1.pop('samosa') # it pops out the samosa and its value from the dictionary
food1

{'Pakora': 50,
 'Dahi Bhallay': 50,
 'tikki': 10,
 'chocolate': 400,
 'Lays': 100,
 'dates': 60}

In [134]:
food1.pop('samosa', 'Not Present') # it contains two arguments, if the given element 'samosa' is not present in the dictionary,
                                    #it should return 'Not Present'

'Not Present'

In [135]:
test= food1.get('samosa')
print (test)

None

In [136]:
food1.popitem() # it follows the Last In First Out Formula. and removes the last added element of dictionary

('dates', 60)

In [137]:
food1

{'Pakora': 50, 'Dahi Bhallay': 50, 'tikki': 10, 'chocolate': 400, 'Lays': 100}

In [138]:
food1.setdefault('Lays', 'No such item included')

100

In [139]:
food1.setdefault('samosa', 50) # it contains two arguments, if the given element 'samosa' is not present
                                                    #in the dictionary,it should return 'Not Present

50

## Sets
- Unordered and unindexed
- use {   }
- no duplicates

In [86]:
s1={1, 2, 6, "Multan", "Urdu", True, 1} # does not print boolean variables, also duplicates will print only once
s1

{1, 2, 6, 'Multan', 'Urdu'}

In [87]:
type(s1)

set

In [88]:
len(s1)

5

In [89]:
s1.add("Haider") # it adds the element in the set
s1

{1, 2, 6, 'Haider', 'Multan', 'Urdu'}

In [90]:
s1.add(1) # since it is already in the set, therefore it will not be printed again
s1

{1, 2, 6, 'Haider', 'Multan', 'Urdu'}

In [91]:
copy_s1= s1.copy() # it creates a copy of s1
copy_s1

{1, 2, 6, 'Haider', 'Multan', 'Urdu'}

In [92]:
copy_s1.add("Ali") # we add an element in the copy
copy_s1

{1, 2, 6, 'Ali', 'Haider', 'Multan', 'Urdu'}

In [93]:
s1 # but original one remain unchanged

{1, 2, 6, 'Haider', 'Multan', 'Urdu'}

In [94]:
s1.difference(copy_s1) # this gives us the elements which are in s1 and not in copy_s1

set()

In [95]:
copy_s1.difference(s1) # this gives us the elements which are in copy_s1  and not in s1.

{'Ali'}

In [96]:
copy_s1.difference_update(s1) # this will update the copy_s1 with value of (copy_s1 - s1)
copy_s1 # now copy_s1 will be only {'Ali'}

{'Ali'}

In [97]:
s1.discard(1) # it will discard 1 from s1
s1

{2, 6, 'Haider', 'Multan', 'Urdu'}

In [98]:
s2= {2,6,7}
s2

{2, 6, 7}

In [99]:
s1.intersection(s2) # this gives us intersection of s1 and s2

{2, 6}

In [100]:
s1.intersection_update(s2) # this will update the s1 with the intersection of (s1 and s2)

In [101]:
s1 # it gives us the updated value of s1

{2, 6}

In [102]:
s1.isdisjoint(s2) # it tells us if s1 and s2 are disjoints (no common element)

False

In [103]:
s1={1,3,5}
s1

{1, 3, 5}

In [104]:
s1.update(s2) # concatenate s1 with s2
s1

{1, 2, 3, 5, 6, 7}

In [105]:
s1.issubset(s2) # check if s1 is subset of s2

False

In [106]:
s1.issuperset(s2) # check if s1 is superset of s2

True

In [107]:
s1.pop() # it randomly pops/remove a element and updates s1 with remaining elements
s1

{2, 3, 5, 6, 7}

In [108]:
s1.union(s2) # takes union of s1 and s2

{2, 3, 5, 6, 7}

In [109]:
s1.symmetric_difference(s2) # it gives the values other than the intersection of s1 and s2

{3, 5}

In [110]:
s1.remove(6) # it removes 6 from s1
s1

{2, 3, 5, 7}